<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" *ngFor="let i = index; let step of steps;">
            <button (click)="onClick(i)" [class.active]="selectedIndex === i"
                class="nav-link py-3 text-uppercase fw-bold btn-block">
                {{step.label}}:{{step.completed}}
            </button>
        </li>
    </ul>
    <div class="">
        <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
</div>